@page
@model LoginModel

<style>
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        box-shadow: 3px 3px 3px 1px;
        width: 460px;
        background-color: rgba(255, 255, 255, 0.7);
        margin-left: auto;
        margin-right: auto;
    }
    #Logintext {
        text-align: center;
    }
    .col-md-4
    {
        width: 400px;
    }

    body
    {
        background-image: url(https://cdn.pixabay.com/photo/2018/08/06/10/22/gift-3587240_1280.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>

<br>
<br>

<div class="row">
    <br>
    <div id="Logintext">
        @{
            ViewData["Title"] = "Вход";
        }

        <h1>@ViewData["Title"]</h1>
        <br>
    </div>
    <div class="col-md-4">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.UserName" class="form-label">Username</label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Парола</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Запомни ме?
                    </label>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
                    </p>
                </div>
                <br>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Вход</button>
                </div>
            </form>
    </div>
    <br>
</div>
<br>
<br>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
